@*
    _HomepageTestimonialsComponent
*@

<section class="testimonials py-5 bg-light">
    <div class="section-header text-center mt-5">
        <h3 class="section-title">GÜZEL YORUMLARI ÇOK SEVİYORUZ</h3>
    </div>
    <div class="swiper testimonial-swiper overflow-hidden my-5">
        <div class="swiper-wrapper d-flex">
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Beklediğimden daha yumuşak, esnek ve mükemmel oturan sade beyaz kot gömlek.”</p>
                        <div class="review-title text-uppercase">günlük tarz</div>
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Bu beyaz kot gömlek hem şık hem de inanılmaz rahat, beklentimin çok üstünde.”</p>
                        <div class="review-title text-uppercase">üst düzey</div>
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Kot gömleğin rahatlığına ve kalitesine gerçekten hayran kaldım, harika bir ürün.”</p>
                        <div class="review-title text-uppercase">denim tutkusu</div>
                    </blockquote>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="testimonial-item text-center">
                    <blockquote>
                        <p>“Mükemmel kalıp, yumuşacık doku ve esneklik ile favorim oldu.”</p>
                        <div class="review-title text-uppercase">üst düzey</div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
</section>
