@model CreateProductCommand

@{
    ViewData["Title"] = "Yeni Ürün Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";

}

<h2 class="mb-4 text-primary">
    @ViewData["Title"]
</h2>

<form asp-action="CreateProduct" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ürün Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Fiyatı</label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="CategoryId" class="form-label">Ürünün Kategorisi</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
            <option disabled selected>Kategori Seçin</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label"></label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Oluştur</button>
</form>
