@model List<GetSubscribesQueryResult>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}

<h2 class="mb-4 text-primary">
    <i class="fas fa-images me-2"></i>Bülten Abonelikleri
</h2>


<table class="table table-bordered table-hover text-center align-middle">
    <thead class="table-primary">
        <tr>
            <th>Id</th>
            <th>Mail Adresi</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>

                <td>@item.Email</td>
                <td>
                    <a asp-action="DeleteSubscribe" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğinize emin misiniz?')">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>