@*
    _HomepageFooterComponent
*@

<footer id="footer" class="mt-5">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between py-5">
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-001">
                    <div class="footer-intro mb-4">
                        <a href="index.html">
                            <img src="~/kaira-1.0.0/images/main-logo.png" alt="logo">
                        </a>
                    </div>
                    <p>
                        Sizin için en iyi fırsatları sunuyoruz. Kaliteli ürünler ve hızlı hizmet ile yanınızdayız.
                    </p>
                    <div class="social-links">
                        <ul class="list-unstyled d-flex flex-wrap gap-3">
                            <li>
                                <a href="#" class="text-secondary" title="Facebook">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary" title="Twitter">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary" title="YouTube">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary" title="Pinterest">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#pinterest"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-secondary" title="Instagram">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-002">
                    <h5 class="widget-title text-uppercase mb-4">Hızlı Linkler</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item">
                            <a href="index.html" class="item-anchor">Anasayfa</a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" class="item-anchor">Hakkımızda</a>
                        </li>
                        <li class="menu-item">
                            <a href="blog.html" class="item-anchor">Hizmetler</a>
                        </li>
                        <li class="menu-item">
                            <a href="styles.html" class="item-anchor">Ürün Detayı</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-003">
                    <h5 class="widget-title text-uppercase mb-4">Yardım & Bilgi</h5>
                    <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Sipariş Takibi</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">İade & Değişim</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Kargo & Teslimat</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Bize Ulaşın</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="item-anchor">Kolayca Bulun</a>
                        </li>
                        <li class="menu-item">
                            <a href="index.html" class="item-anchor">SSS</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu footer-menu-004 border-animation-left">
                    <h5 class="widget-title text-uppercase mb-4">İletişim</h5>
                    <p>
                        Herhangi bir sorunuz ya da öneriniz mi var? <a href="mailto:info@kaira.com.tr" class="item-anchor">info@kaira.com.tr</a> adresinden bize ulaşabilirsiniz.
                    </p>
                    <p>
                        Destek için bizi arayın: <a href="tel:+90 123 456 78 90" class="item-anchor">+90 123 456 78 90</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
