@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HomepageHeadComponent")

<body class="homepage">

    @await Component.InvokeAsync("_HomepageTopBarComponent")

    @await Component.InvokeAsync("_HomepageBillboardComponent")

    @await Component.InvokeAsync("_HomepageFeaturesComponent")

    @*     @await Component.InvokeAsync("_HomepageCategoriesComponent") *@

    @await Component.InvokeAsync("_HomepageNewArrivalComponent")

    @await Component.InvokeAsync("_HomepageCollectionComponent")

    @await Component.InvokeAsync("_HomepageBestSellersComponent")

    @*     @await Component.InvokeAsync("_HomepageVideoComponent") *@

    @await Component.InvokeAsync("_HomepageTestimonialsComponent")

    @await Component.InvokeAsync("_HomepageRelatedProductsComponent")

    @await Component.InvokeAsync("_HomepageLogoBarComponent")

    @await Component.InvokeAsync("_HomepageNewsletterComponent")

    @await Component.InvokeAsync("_HomepageInstagramComponent")

    @await Component.InvokeAsync("_HomepageFooterComponent")

    <script src="~/kaira-1.0.0/js/jquery.min.js"></script>
    <script src="~/kaira-1.0.0/js/plugins.js"></script>
    <script src="~/kaira-1.0.0/js/SmoothScroll.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="~/kaira-1.0.0/js/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>